<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">CRUDFirebase</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#" routerLink="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="download">Estilos <span class="caret"></span></a>
        <div class="dropdown-menu" aria-labelledby="download">
          <a class="dropdown-item" href="https://jsfiddle.net/bootswatch/jmg3gykg/">Open in JSFiddle</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="../4/flatly/bootstrap.min.css">bootstrap.min.css</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/autores">Autores</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Entradas</a>
      </li>
    </ul>
  </div>


</nav>